.hero{
  width: 100%;
  height: auto;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSypzfQwWcfNQrAijoeQHby7q8T6zefcVZuvA&usqp=CAU');
  background-size: 100% auto;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

}
.hero h1{
  color:  white;
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.navbar{
  position: absolute;
  top: 0;
}

/* style.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100vh !important;
}
.card{
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 0px 2px black;
  background-color: rgba(0, 0, 0, 0.059);
  padding: 3px;
}

.card img{
  margin: 3px;
  border-radius: 4px;
}


form {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-image: linear-gradient(to right bottom, #0000007e, #be3c3c, #930000, #bf0000, #eb1212);
  
}
/* Adicione as seguintes regras no arquivo style.css */

/* Adicionar um estilo flexível para o contêiner de arquivos */
#fileList {
  margin-top: 60px;
width: 100%;
display: flex;
flex-wrap: wrap;
}

.file-container {
  margin: 10px;
  text-align: center;
  flex: 1 1 calc(33.33% - 20px); /* Adiciona flexibilidade para dispositivos móveis */
  max-width: calc(33.33% - 20px); /* Evita que o contêiner seja muito largo em dispositivos móveis */
}

.file-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.file-container a {
  display: block;
  padding: 10px;
  background-color: #f0f0f0;
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px;
}

.file-container a:hover {
  background-color: #ddd;
}

.file-image {
  width: 100%; /* Para garantir que a imagem ocupe 100% da largura do contêiner */
  height: auto; /* Para manter a proporção da imagem */
  max-width: 100%; /* Para garantir que a imagem não ultrapasse a largura máxima do contêiner */
}
  
#fileForm{
position: fixed;
bottom: 0;
width: 100%;
}